[submodule "vendor/SQLiteCpp"]
	path = vendor/SQLiteCpp
	url = https://github.com/SRombauts/SQLiteCpp.git
[submodule "vendor/PDCurses"]
	path = vendor/PDCurses
	url = https://github.com/maciejewiczow/PDCurses.git
